<h1>This is the about page</h1>
<p>It tells what the app does, who the people behind it are, why it's awesome, etc.</p>
<p>Now for some details typical of an 'About Us' page</p>
<ul>
  <li><%= link_to "Contact Us", "#" %></li>
  <li><%= link_to "Gallery", "#" %></li>
  <li><%= link_to "Sign Up", "#" %></li>
</ul>
