<div class="container">
  <h1>This is the about page</h1>
  <p>It tells what the app does, who the people behind it are, why it's awesome, etc.</p>
  <p>Now for some details typical of an 'About Us' page</p>
  <ul>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</div>
