<div class="container">
  <div class="floating">
    <h1>The benefits of eating right</h1>
    <p>This is a blog dedicated to healthy eating</p>
    <p>Click on something on the page</p>
  </div>
  <aside><%= image_tag "v8.png" %></aside>
</div>