<div id="header">
  <h1><%= t('.stats_title') %></h1>
  <ul onclick="switchTabs(event)">
    <li id="selected"><a href="#" id="us">USA</a></li>
    <li><a href="#" id="uk">UK</a></li>
    <li><a href="#" id="zh">China</a></li>
    <li><a href="#" id="jp">Japan</a></li>
    <li><a href="#" id="br">Brazil</a></li>
  </ul>
</div>

<div id="content">
  <div data-country="us" class="active">a</div>
  <div data-country="uk" class="inactive">b</div>
  <div data-country="zh" class="inactive">c</div>
  <div data-country="jp" class="inactive">d</div>
  <div data-country="br" class="inactive">e</div>
</div>
