#header{
	height: 113px;
}

#header ul {
	list-style: none;
	padding:0;
	margin:0;
}

#header li {
	float: left;
	border: 1px solid #E7E7E7;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
	color: #777;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#header li a {
	color: #777;
	padding: .5em 1em;
	display: inline-block;
}

#content {
	border: 1px solid #E7E7E7;
	clear: both;
	margin-top: 16px;
}

#content div {
	margin: 1em;
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
}

#header #selected {
	position: relative;
	top: 1px;
	background: white;
}

.active {
	display: block;
}

.inactive {
	display: none;
}